body {
    color: blue;
    background-color: rgb(163,190,245);
    font-family: Georgia, cambria, serif;
    font-size: 16px;
}

h1 {
    color: #6b1010;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 32px;
}

h2 {
    color: #A00;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 24px;
}

ul {
    color: #060;
}

strong {
    font-size: 20px;
    font-weight: bold;
}

em {
    color: white;
    background-color: black;
    font-style: italic;
}