@import url(https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap);

@font-face{
    font-family: fuente-local;
    src: url(../fonts/COMICATE.TTF);
}

p {
    font-family: fuente-local;
}

.tarjeta-producto{
    border: green;
    background: linear-gradient(to bottom,lightgreen,white);
    border-style: outset;
    margin:auto;
    background-color: rgb(184, 255, 175);
    box-shadow: 10px 10px 20px rgba(0,0,0, 0.2);
    width: 32rem;
}

.tarjeta-producto h1,p{
    text-align: center;
    color: green;
}

#descripcion-imagen{
    background-image: url(../img/7-consejos-huerto-sano.jpg);
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
}

#descripcion-imagen p{
    color: white;
    text-shadow:black;
}

.info-extra{
    text-shadow: 
            1px 1px 0px #ffffff,
            3px 3px 5px rgba(0,0,0, 0.3);
    padding: 10px;
}

.pie-producto{
    background-color: green;
    padding: 10px 10px;
}

.precio{
    color: white;
}