h1 {
    font-weight: bolder;
}

th {
    background-color: rgb(95, 9, 26);
    color: white;
}

tfoot{
    background-color: rgb(95, 9, 26);
    color: white;
}

tbody-tr:nth-child(even){
    background-color: rgb(90, 90, 228);
}

