a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: green;
}

li:first-child {
    background-color: gray;
}

ul:first-of-type li:last-child {
    background-color: blue;
    color: white;
}


ul:last-of-type { 
    border: 1.2px solid black;
}

ul:last-of-type li:nth-child(2){
color: rgb(255, 208, 0);
}

p::first-letter {
    font-size: 2em;
    color: red;
}

p::first-line {
    font-size: 1.2em;
    color: blue;
}

P::after {
    content: "FIN";
    border: 1px solid green;
}