body{
  background-color: #d9d9d958;              
  background-image: url("../img/html.png"); 
  background-repeat: repeat;
  overlay: rgba(145, 145, 145, 0.5);
  margin: 20px;
}

h1{
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

h3{
  color: green;
  font-weight: bold;
  margin-top: 15px;
}

img{
  width: 50px;
  height: 50px;
}

a{
  background: #6b6b6b;
  color: white;
  padding: 6px 10px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 3px;
}

table{
  border-collapse: collapse;
  border: 2px solid #000;

  font-size: 12px;
  margin-top: 8px;
}

th, td{
  border: 1px solid #000;
  padding: 3px 6px;
  text-align: center;
}

th{
  background: #cfcfcf;
  font-weight: bold;
}
