ol:first-of-type{
    li{
        font-weight: bolder;
    }

    li:first-child {
        color: red;
    }

    li:last-child {
        color: blue;
    }

    li:nth-child(3) {
        color: green;
    }
}

ol:last-child {
    li:nth-child(even) {
        color: red;
    }

    li:nth-child(odd) {
        color: blue;
    }
}
