ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    padding: 30px;
    background-color: lightgray;
    list-style: none;
}

li:hover{
    background-color: black;
}

a{
    color: white;
    text-decoration: none;
}